<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIncentiveCalcData" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9001/IncentiveCalcService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIncentiveCalcData"
        contract="IncentiveCalcSvcReference.IIncentiveCalcData" name="BasicHttpBinding_IIncentiveCalcData" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="DestinationFolder" value="C:\Rai\Projects\IncentiveCalculator-master\Payout\TO\" />
    <!-- fileType_Process Upload is by default, Process=Will trigger a data file process in addition to Upload, 
    CreatePayout=Will trigger a Payout File create in addition to Upload and Process data file, only if Process data is enabled-->
    <add key="CASA_Process" value="Upload,ProcessData,CreatePayout" />
    <add key="CARD_Process" value="Upload,ProcessData,CreatePayout" />
    <add key="LOAN_Process" value="Upload,ProcessData,CreatePayout" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>