<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
  <add name="SqlConnString" connectionString="Data Source=RAI-PC\SQLEXPRESS;Initial Catalog=ICBankSohar; User Id=sa;Password=********;"/>
</connectionStrings>
<appSettings>
  <add key ="EMP_FileLocation" value="C:\Rai\Projects\IncentiveCalculator-master\Data and Docs"/>
  <add key ="EMP_SheetName" value="FNDWRR"/>
  <add key ="CASA_FileLocation" value="C:\Rai\Projects\IncentiveCalculator-master\Data and Docs"/>
  <add key ="LOAN_FileLocation" value="C:\Rai\Projects\IncentiveCalculator-master\Data and Docs"/>
  <add key ="CARD_FileLocation" value="C:\Rai\Projects\IncentiveCalculator-master\Data and Docs"/>
</appSettings>
</configuration> 